{% extends 'iimBlogBundle::layout.html.twig' %}

{% block content -%}
    <div class="content" style="margin-top: 60px; margin-left: 60px;">
    <h1>Liste des images : </h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageName</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('image_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    <img src="{{ vich_uploader_asset(entity, 'image')  | imagine_filter('my_thumb') }}" />
                <ul>
                    <li>
                        <a href="{{ path('image_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('image_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('image_create') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    </div>
    {% endblock %}
