{% extends 'iimBlogBundle::layout.html.twig' %}

{% block content -%}
<div class="content" style="margin: 60px 0 0 60px;">
    <h1>Image</h1>

    <table class="record_properties">

        <h3>Thumbnail</h3>
        <img src="{{ vich_uploader_asset(entity, 'image')  | imagine_filter('thumbnail') }}" />
        <h3>Little nice thumbnail</h3>
        <img src="{{ vich_uploader_asset(entity, 'image')  | imagine_filter('little_nice_thumbnail') }}" />
        <h3>Crop</h3>
        <img src="{{ vich_uploader_asset(entity, 'image')  | imagine_filter('crop') }}" />
        <h3>My heighten</h3>
        <img src="{{ vich_uploader_asset(entity, 'image')  | imagine_filter('my_heighten') }}" />
        <h3>Background (ne fonctionne que sur GIF/PNG)</h3>
        <img src="{{ vich_uploader_asset(entity, 'image')  | imagine_filter('background') }}" />


    </table>

    <ul class="record_actions" style="list-style-type: none;">
        <li>
            <a href="{{ path('image') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('image_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('comment_create') }}">
                Ajouter un commentaire
            </a>
            <a href="{{ path('comment') }}">
                Afficher la liste des commentaires
            </a>
        {% else %}
        {% endif %}

    </ul>
 </div>
{% endblock %}
